<%- include ("../partials/header") %>

<div class="container">
    <header class="jumbotron">
        <h1 class="display-4"><i class="fas fa-campground"></i> YelpCamp Campgrounds !</h1>
        <p class="lead">These are the YelpCamp camps around you .</p>
        <hr class="my-4">
        <a href="/" class="btn btn-outline-primary btn-lg mb-2" role="button">Home</a>
        <% if(currentUser){ %>
            <a href="/campgrounds/new" class="btn btn-outline-primary btn-lg mb-2" role="button">Add new camp</a>
        <% } %>
        <!-- <a href="/campgrounds/new" class="btn btn-outline-primary btn-lg mb-2" role="button">Add new camp</a> -->
        <input type="text" id="searchId" class="btn-lg" onkeyup="search()" placeholder="Search...">
    </header>   

    <div class="row text-center">
        <div class="card-columns">
            <% camps.forEach(function(camp){ %>
                <div class="card indexCard">
                    <img src="<%= camp.image %>" class="img-fluid rounded-top" >
                    <div class="card-body">
                        <p class="card-title"> <%= camp.title %> </p>
                        <a href="/campgrounds/<%=camp._id%>" class="btn btn-outline-primary rounded-pill">More Details</a>
                    </div>   
                </div>
            <% }); %>    
        </div>
    </div>
</div>

<script>
    function search(){
        var filter = document.getElementById('searchId').value.toUpperCase();
        var camps = document.getElementsByClassName('card');
        var val,txt;
        for(var i=0;i<camps.length;i++){
            val = camps[i];
            txt = val.getElementsByTagName('p')[0].innerHTML.toUpperCase();
            if(txt.indexOf(filter) > -1){
                camps[i].style.display = "";
            }
            else{
                camps[i].style.display = "none";
            }
        }
    }
</script>

<%- include ("../partials/footer") %>

